<main>
  <div>
    <h2><span class="light"> Join an atmosphere of Openness</span>, Empowerment and Trust</h2>
  </div>
  <hr>
  <div class="flex-row">
    <div>
      <div class="flex-row">
        <img src="assets/images/icon-1.png">
        <div>
          <h2>Core model based on partnership</h2>
          <div class="light">
            You will have direct contact with clients, participate in decision making, and have visibility of results
          </div>
        </div>
      </div>
      <div class="flex-row">
        <img src="assets/images/icon-2.png">
        <div>
          <h2>Real value creation</h2>
          <div class="light">
            Your impact and contribution will be recognized
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex-row">
        <img src="assets/images/icon-3.png">
        <div>
          <h2>Transparent processes and flat management</h2>
          <div class="light">
            You will be working in an environment where integrity and transparency are the core principles
          </div>
        </div>
      </div>
      <div class="flex-row">
        <img src="assets/images/icon-4.png">
        <div>
          <h2>Talent enhancement</h2>
          <div class="light">
            You will have an opportunity to enhance your expertise by working with international colleagues and
            participating in knowledge sharing community
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h2>Talent Enhancement</h2>
    <div class="light">
      We build collaborative Ciklum Communities of IT experts shaped by our clients, employees and partners with an
      easily
      accessible online and offline network of like-minded people. Our general ethos is to facilitate self-driven
      peer-to-peer learning environment that suit employees in a very diverse and fast changing IT world.
      The force behind this is 3,500+ IT specialists within Ciklum and 250+ clients in our partner network. This forms
      an
      extensive network for knowledge upgrade and sharing. Ciklum’s size and unique model of cooperation with clients
      running numerous near-shore teams provides a very good basis for active knowledge-sharing. We run dozens of events
      of different scale and format across Ciklum locations monthly open both to Ciklumers and to outside world.
    </div>
  </div>
</main>
